USE [master]
GO
/****** Object:  Database [CISIVE_INTERVIEW]    Script Date: 18-11-2020 11:18:15 ******/
CREATE DATABASE [CISIVE_INTERVIEW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CISIVE_INTERVIEW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CISIVE_INTERVIEW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CISIVE_INTERVIEW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CISIVE_INTERVIEW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CISIVE_INTERVIEW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CISIVE_INTERVIEW]
GO
/****** Object:  Table [dbo].[MT_CARS_DETAILS]    Script Date: 18-11-2020 11:18:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_CARS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_NUMBER] [nvarchar](100) NULL,
	[CAR_NAME] [nvarchar](100) NOT NULL,
	[CAR_IMAGE] [nvarchar](500) NOT NULL,
	[CAR_RATE_HOURLY] [numeric](12, 2) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[IS_RENTED] [bit] NOT NULL,
	[REGISTERED_ON] [datetime] NOT NULL,
	[REGISTERED_BY] [int] NOT NULL,
	[LAST_MODIFIED_ON] [datetime] NULL,
	[LAST_MODIFIED_BY] [int] NULL,
 CONSTRAINT [PK__MT_CARS___3214EC27E045D7EE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TR_RENTING_DETAILS]    Script Date: 18-11-2020 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR_RENTING_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_NUMBER] [nvarchar](50) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](100) NOT NULL,
	[RENTING_REQUESTED_BY] [int] NOT NULL,
	[RENT_START_TIME] [datetime] NOT NULL,
	[RENT_END_TIME] [datetime] NULL,
	[TOTAL_RENT_AMOUNT] [numeric](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MT_CARS_DETAILS] ADD  CONSTRAINT [DF__MT_CARS_D__IS_AC__49C3F6B7]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MT_CARS_DETAILS] ADD  CONSTRAINT [DF__MT_CARS_D__IS_RE__4AB81AF0]  DEFAULT ((0)) FOR [IS_RENTED]
GO
ALTER TABLE [dbo].[MT_CARS_DETAILS] ADD  CONSTRAINT [DF__MT_CARS_D__REGIS__4BAC3F29]  DEFAULT (getdate()) FOR [REGISTERED_ON]
GO
ALTER TABLE [dbo].[TR_RENTING_DETAILS] ADD  DEFAULT (getdate()) FOR [RENT_START_TIME]
GO
ALTER TABLE [dbo].[TR_RENTING_DETAILS] ADD  DEFAULT ((0)) FOR [TOTAL_RENT_AMOUNT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAR_REGISTRATION]    Script Date: 18-11-2020 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAR_REGISTRATION]
(
@FLAG NVARCHAR(MAX) = NULL,
@CAR_NAME NVARCHAR(100) = NULL,
@CAR_IMAGE NVARCHAR(500) = NULL,
@CAR_RATE NUMERIC(12,2) = NULL,
@REGISTERED_BY INT = NULL,
@CAR_NUMBER NVARCHAR(100) = NULL
)
AS 
BEGIN
		IF(@FLAG = 'CAR_REGISTRATION')
			BEGIN
				INSERT INTO MT_CARS_DETAILS(CAR_NAME,CAR_IMAGE,CAR_RATE_HOURLY,REGISTERED_BY)
				VALUES (@CAR_NAME,@CAR_IMAGE,@CAR_RATE,@REGISTERED_BY)

				IF(@@ROWCOUNT > 0)
					BEGIN
						UPDATE MT_CARS_DETAILS
						SET CAR_NUMBER = CONCAT('CAR-',SCOPE_IDENTITY())
						WHERE ID = SCOPE_IDENTITY()
						SELECT CONCAT('CAR-',SCOPE_IDENTITY())  AS RESULT
					END
				ELSE
					BEGIN
						SELECT 'Server busy. Try again later.' AS RESULT
					END
			END

		IF(@FLAG = 'CAR_DEREGISTRATION')
			BEGIN
				IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER)
					BEGIN
						IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1)
							BEGIN
								IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1 and IS_RENTED = 0)
									BEGIN
											UPDATE MT_CARS_DETAILS
											SET IS_ACTIVE=0
											WHERE CAR_NUMBER = @CAR_NUMBER
											SELECT concat(@CAR_NUMBER,' De-Registered')  AS RESULT
									END
								ELSE
									BEGIN
										SELECT 'Car is rented. De-Registration cannot possible.' AS RESULT
									END
							END
						ELSE
							BEGIN
								SELECT 'Car is already De-Registered.' AS RESULT
							END
					END
				ELSE
					BEGIN
						SELECT 'No car number found.' AS RESULT
					END
			END
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_CAR_RENTING]    Script Date: 18-11-2020 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAR_RENTING]
(
@FLAG NVARCHAR(MAX) = NULL,
@CAR_NUMBER NVARCHAR(100) = NULL,
@CUSTOMER_NAME NVARCHAR(500) = NULL ,
@REQUESTED_BY NVARCHAR(500) = NULL 
)
AS 
BEGIN
		IF(@FLAG = 'REQUEST_RENTING')
			BEGIN
				IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER)
					BEGIN
						IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1)
							BEGIN
								IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1 and IS_RENTED = 0)
									BEGIN
											INSERT INTO TR_RENTING_DETAILS(CAR_NUMBER,CUSTOMER_NAME,RENTING_REQUESTED_BY)
											VALUES (@CAR_NUMBER,@CUSTOMER_NAME,@REQUESTED_BY)

											IF(@@ROWCOUNT > 0)
												BEGIN
													UPDATE MT_CARS_DETAILS
													SET IS_RENTED = 1
													WHERE CAR_NUMBER=@CAR_NUMBER
													SELECT concat('Car rented to ',@CUSTOMER_NAME)  AS RESULT
												END
											ELSE
												BEGIN
													SELECT 'Server busy. Try again later.' AS RESULT
												END
									END
								ELSE
									BEGIN
										SELECT 'Car is already rented.' AS RESULT
									END
							END
						ELSE
							BEGIN
								SELECT 'Car is not in use.' AS RESULT
							END
					END
				ELSE
					BEGIN
						SELECT 'No car number found.' AS RESULT
					END
			END

		IF(@FLAG = 'RETURN_RENTING')
			BEGIN
				IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER)
					BEGIN
						IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1)
							BEGIN
								IF EXISTS(SELECT 1 FROM MT_CARS_DETAILS WHERE CAR_NUMBER=@CAR_NUMBER and IS_ACTIVE = 1 and IS_RENTED = 1)
									BEGIN
											
											UPDATE RTD
											SET RTD.RENT_END_TIME = GETDATE(),RTD.TOTAL_RENT_AMOUNT= CASE WHEN (DATEDIFF(HOUR, RTD.RENT_START_TIME, GETDATE())) > 1 THEN ((DATEDIFF(HOUR, RTD.RENT_START_TIME, GETDATE()))*CRD.CAR_RATE_HOURLY) ELSE CRD.CAR_RATE_HOURLY END
											FROM TR_RENTING_DETAILS RTD
											JOIN MT_CARS_DETAILS  CRD ON RTD.CAR_NUMBER= CRD.CAR_NUMBER 
											WHERE CRD.CAR_NUMBER=@CAR_NUMBER AND RENT_END_TIME IS NULL
											 

											IF(@@ROWCOUNT > 0)
												BEGIN
													UPDATE MT_CARS_DETAILS
													SET IS_RENTED = 0
													WHERE CAR_NUMBER=@CAR_NUMBER
													SELECT concat('Car return on ',GETDATE())  AS RESULT
												END
											ELSE
												BEGIN
													SELECT 'Server busy. Try again later.' AS RESULT
												END
									END
								ELSE
									BEGIN
										SELECT 'Car is not rented.' AS RESULT
									END
							END
						ELSE
							BEGIN
								SELECT 'Car is not in use.' AS RESULT
							END
					END
				ELSE
					BEGIN
						SELECT 'No car number found.' AS RESULT
					END
			END
END 
GO
USE [master]
GO
